Repository goerli/parity-goerli, pull requests merged in 2018-11, with the labels that each got.

#10 Add Goerli Support
  ethcore/res/ethereum/goerli.json
  ethcore/res/ethereum/rinkeby.json
  ethcore/src/ethereum/mod.rs
  parity/cli/mod.rs
  parity/params.rs
  parity/run.rs
  util/version/Cargo.toml
Labels: M2-config 📂, M4-core ⛓

#13 Add voting logic
  ethcore/src/block.rs
  ethcore/src/engines/clique/mod.rs
  ethcore/src/engines/clique/signer_snapshot.rs
Labels: A3-inprogress ⏳, M4-core ⛓

#20 Merge updates downstream
  .gitlab-ci.yml
  Cargo.lock
  ethcore/Cargo.toml
  ethcore/light/src/net/mod.rs
  ethcore/light/src/net/tests/mod.rs
  ethcore/light/src/provider.rs
  ethcore/service/src/service.rs
  ethcore/src/blockchain/blockchain.rs
  ethcore/src/client/client.rs
  ethcore/src/client/test_client.rs
  ethcore/src/client/traits.rs
  ethcore/src/engines/authority_round/mod.rs
  ethcore/src/lib.rs
  ethcore/src/snapshot/error.rs
  ethcore/src/snapshot/mod.rs
  ethcore/src/snapshot/service.rs
  ethcore/src/snapshot/tests/service.rs
  ethcore/src/test_helpers.rs
  ethcore/sync/src/api.rs
  ethcore/sync/src/chain/mod.rs
  ethcore/sync/src/chain/supplier.rs
  parity/rpc_apis.rs
  parity/run.rs
  rpc/src/v1/helpers/light_fetch.rs
  rpc/src/v1/helpers/poll_filter.rs
  rpc/src/v1/impls/eth.rs
  rpc/src/v1/impls/eth_filter.rs
  rpc/src/v1/impls/light/eth.rs
  rpc/src/v1/impls/parity.rs
  rpc/src/v1/tests/eth.rs
  rpc/src/v1/tests/mocked/eth.rs
  rpc/src/v1/traits/eth.rs
  rpc/src/v1/types/account_info.rs
  rpc/src/v1/types/mod.rs
Labels: A8-backport 🕸

#24 ethcore: fix goerli chain spec
  ethcore/res/ethereum/goerli.json
Labels: A2-insubstantial 👶, M2-config 📂
