Repository goerli/parity-goerli, pull requests merged in 2019-03, with the labels that each got.

#55 json-spec: fix clique epoch to non-zero u64
  json/src/spec/clique.rs
Labels: A0-pleasereview 🤓, A2-insubstantial 👶, M6-rpcapi 📣

#56 ci: enable travis for parity goerli
  .travis.yml
Labels: A8-looksgood 🦄, M1-ci 🙉

#54 Add consensus tests + some fixes
  ethcore/src/client/client.rs
  ethcore/src/engines/clique/block_state.rs
  ethcore/src/engines/clique/mod.rs
  ethcore/src/engines/clique/step_service.rs
  ethcore/src/engines/clique/tests.rs
  ethcore/src/engines/clique/util.rs
Labels: A8-looksgood 🦄, M4-core ⛓

#59 fix(clique): err types
  ethcore/src/engines/clique/block_state.rs
  ethcore/src/engines/clique/mod.rs
  ethcore/src/engines/clique/tests.rs
  ethcore/src/engines/clique/util.rs
  ethcore/src/engines/mod.rs
Labels: A8-looksgood 🦄, M4-core ⛓

#64 fix(clique sealing): don't read state if there is no signer available
  ethcore/src/engines/clique/mod.rs
Labels: A0-pleasereview 🤓, A2-insubstantial 👶, M4-core ⛓

#61 fix(replace Vec<Signer> with BTreeSet<Signer>)
  ethcore/src/engines/clique/block_state.rs
  ethcore/src/engines/clique/tests.rs
  ethcore/src/engines/clique/util.rs
Labels: A8-looksgood 🦄, M4-core ⛓

#68 fix(ethcore_block_seal): remove needless `Box`
  ethcore/src/block.rs
Labels: A8-looksgood 🦄, M4-core ⛓

#66 merge upstream
  .gitlab-ci.yml
  CHANGELOG.md
  Cargo.lock
  docs/CHANGELOG-2.2.md
  docs/CHANGELOG-2.3.md
  ethcore/Cargo.toml
  ethcore/src/block.rs
  ethcore/src/client/client.rs
  ethcore/src/engines/authority_round/mod.rs
  ethcore/src/engines/block_reward.rs
  ethcore/src/engines/clique/mod.rs
  ethcore/src/engines/clique/step_service.rs
  ethcore/src/engines/instant_seal.rs
  ethcore/src/engines/mod.rs
  ethcore/src/engines/null_engine.rs
  ethcore/src/ethereum/ethash.rs
  ethcore/src/lib.rs
  ethcore/src/machine/impls.rs
  ethcore/src/machine/mod.rs
  ethcore/src/machine/traits.rs
  ethcore/src/spec/spec.rs
  ethcore/src/trace/types/trace.rs
  ethcore/types/Cargo.toml
  ethcore/types/src/engines/epoch.rs
  ethcore/types/src/header.rs
  ethcore/types/src/lib.rs
  machine/Cargo.toml
  machine/src/lib.rs
  scripts/gitlab/build-linux.sh
  scripts/gitlab/publish-aws.sh
  scripts/gitlab/rust-changes.sh
  scripts/gitlab/test-cpp.sh
  scripts/gitlab/test-linux.sh
  scripts/gitlab/validate-chainspecs.sh
  test.sh
Labels: A8-backport 🕸, M4-core ⛓

#73 fix(docs)
  ethcore/src/engines/clique/step_service.rs
  ethcore/src/engines/mod.rs
  json/src/spec/engine.rs
Labels: A2-insubstantial 👶, M3-docs 📑

#70 fix(faulty log): info -> trace
  ethcore/src/engines/clique/mod.rs
Labels: A2-insubstantial 👶, M4-core ⛓

#72 fix(style)
  ethcore/res/ethereum/goerli.json
  ethcore/res/ethereum/kotti.json
  ethcore/res/ethereum/rinkeby.json
  ethcore/src/block.rs
  ethcore/src/engines/clique/mod.rs
Labels: A2-insubstantial 👶, M2-config 📂, M4-core ⛓

#65 prevent SystemTime panics
  ethcore/src/engines/clique/block_state.rs
  ethcore/src/engines/clique/mod.rs
Labels: A0-pleasereview 🤓, M4-core ⛓

#71 grumble(on_seal_block): make `&mut` to avoid clone
  ethcore/src/block.rs
  ethcore/src/engines/clique/mod.rs
  ethcore/src/engines/mod.rs
Labels: A0-pleasereview 🤓, M4-core ⛓

#77 docs: remove eth hf references in spec
  ethcore/src/spec/spec.rs
Labels: A2-insubstantial 👶, M3-docs 📑

#78 client: warn on unable to get mut ref for engine for shutdown
  ethcore/src/client/client.rs
Labels: A2-insubstantial 👶, M4-core ⛓

#76 Delete .travis.yml
  .travis.yml
Labels: A0-pleasereview 🤓, M1-ci 🙉

#82 fix(nits)
  ethcore/src/block.rs
  ethcore/src/engines/clique/mod.rs
  ethcore/src/engines/mod.rs
  json/src/spec/engine.rs
Labels: A2-insubstantial 👶, M4-core ⛓

#83 fix(CliqueStepService): replace `RwLock` with `AtomicBool`
  ethcore/src/engines/clique/step_service.rs
Labels: A8-looksgood 🦄, M4-core ⛓
